@font-face {
  font-family: "Monoton";
  font-style: normal;
  font-weight: 400;
  src: url("../resources/fonts/monoton-v15-latin-regular.woff2") format("woff2");
}

:root {
  --rose: #92133e;
  --green-background: rgba(31, 99, 31, 0.836);
  --blue-background: rgba(54, 54, 177, 0.856);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body,
html,
.hero-container,
.hero {
  height: 100vh;
  overflow: hidden;
}

body {
  background: #121212;
  color: #eee;
  text-shadow: -1px -1px 0 var(--rose);
  transition: background 500ms;
}

.blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

#mouse-tracker {
  background-color: white;
  height: 500px;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, purple);
  animation: rotate 20s infinite;
  z-index: 1;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}
.page-container {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: auto;
}

.page-container::-webkit-scrollbar {
  display: none;
}

.page-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.pages {
  flex: none;
  scroll-snap-align: start;
  z-index: 3;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.nav-bar {
  z-index: 4;
  --_gap: 3rem;

  position: fixed;
  top: 0;

  display: grid;
  grid-template: 1fr/ 1fr 1fr 1fr;
  width: 100%;
  border-top: solid 0.1px var(--rose);

  align-items: center;
  padding: 1.25rem 1.875rem;
  font-size: 1.15rem;
}

.nav-bar-credentials {
  display: flex;
  align-items: center;
}

.logo,
.nav-full-name {
  padding: calc(var(--_gap) / 4) calc(var(--_gap) / 2);
}

.nav-links {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  position: relative;
  padding: calc(var(--_gap) / 4) calc(var(--_gap) / 2);
}

.active-page {
  --_scale: 1;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: orangered;

  translate: var(--_translate, 0);
  scale: var(--_scale, 0) 1;
  transition: scale 150ms var(--_scale-delay, 0ms),
    translate 250ms var(--_translate-delay, 0ms);
}

.nav-links .link:hover ~ .link {
  --_translate: -100%;
  --_scale-delay: 400ms;
  --_translate-delay: 50ms;
}

.nav-links:hover .link {
  --_translate: 100%;
  --_scale-delay: 400ms;
  --_translate-delay: 50ms;
}

.nav-links .link:hover,
.nav-links .link:focus-within {
  --_scale: 1;
  --_translate: 0;
  --_scale-delay: 0ms;
}

.nav-full-name {
  display: inline;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image {
  height: 300px;
  width: 300px;
  border: solid;
  padding: calc(--_gap / 16);
  border: 20px solid #ff080800;
  outline: 1px solid #ffffff;
  outline-offset: -10px;
  background: conic-gradient(from 90deg at 1px 1px, #00000000 25%, #ffffff 0);
}

.hero-fullname {
  font-family: "Monoton", sans-serif;
  font-size: 6rem;
  font-weight: 100;
  text-transform: uppercase;
}

.hero-description {
  font-size: 2.5rem;
}

.hire-me-button {
  scale: 0.8;
  margin-left: auto;
  position: relative;
  /* height: 4.0625rem;
  width: 13.125rem; */
  height: 3.85rem;
  width: 12.9rem;
  font-size: 1.4375rem;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  border-radius: 1rem;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #0d0d0d;
  overflow: hidden;
  transition: 0.6s;

  color: rgb(216, 128, 116);
  border-color: var(--rose);
}
.hire-me-button:before,
.hire-me-button:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(1.875rem);
  opacity: 0.4;
  transition: 0.6s;
}
.hire-me-button:before {
  width: 3.75rem;
  background: rgba(255, 255, 255, 0.6);
  transform: translateX(-8.125rem) skewX(-45deg);
}
.hire-me-button:after {
  width: 1.875rem;
  background: rgba(255, 255, 255, 0.6);
  transform: translateX(-8.125rem) skewX(-45deg);
}
.hire-me-button:hover:before,
.hire-me-button:hover:after {
  opacity: 0.6;
  transform: translateX(20rem) skewX(-45deg);
}
.hire-me-button:hover {
  color: #f2f2f2;
  background: var(--rose);
}

body:has(.card[data-color="green"]:hover) {
  background: var(--green-background);
}

body:has(.card[data-color="blue"]:hover) {
  background: var(--blue-background);
}

body:has(.card[data-color="red"]:hover) {
  background: var(--rose);
}

#publication-cards {
  height: 100%;
  display: grid;
  grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 4rem;
  padding: 4rem;
}

.card {
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: scale 100ms;
}

.card-front-image {
  position: relative;
  z-index: 2;
}

.card-image {
  width: 300px;
  height: 300px;
  border-radius: clamp(0.5rem, 0.75vw, 2rem);
}

.card-faders {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  opacity: 0;
  transition: opacity 1500ms;
  pointer-events: none;
}

.card:hover .card-faders {
  opacity: 1;
}

.card:active {
  scale: 0.98;
}

.card-fader {
  position: absolute;
  left: 0px;
  top: 0px;
}

.card-fader:nth-child(odd) {
  animation: fade-left 3s linear infinite;
}

.card-fader:nth-child(even) {
  animation: fade-right 3s linear infinite;
}

.card-fader:is(:nth-child(3), :nth-child(4)) {
  animation-delay: 750ms;
}

.card-fader:is(:nth-child(5), :nth-child(6)) {
  animation-delay: 1500ms;
}

.card-fader:is(:nth-child(7), :nth-child(8)) {
  animation-delay: 2250ms;
}

@media (max-width: 1200px) {
  body {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .card .card-image {
    width: 400px;
  }
}

@media (max-width: 600px) {
  #publication-cards {
    gap: 2rem;
    padding: 2rem;
  }

  .card {
    width: 80%;
  }

  .card .card-image {
    width: 100%;
  }
}

@keyframes fade-left {
  from {
    scale: 1;
    translate: 0%;
    opacity: 1;
  }

  to {
    scale: 0.8;
    translate: -30%;
    opacity: 0;
  }
}

@keyframes fade-right {
  from {
    scale: 1;
    translate: 0%;
    opacity: 1;
  }

  to {
    scale: 0.8;
    translate: 30%;
    opacity: 0;
  }
}
