@font-face {
  font-family: "Monoton";
  font-style: normal;
  font-weight: 400;
  src: url("../resources/fonts/monoton-v15-latin-regular.woff2") format("woff2");
}

:root {
  --rose: #92133e;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body,
html,
.hero-container,
.hero {
  height: 100vh;
}

body {
  background: #121212;
  color: #eee;
  text-shadow: -1px -1px 0 var(--rose);
}

.nav-bar {
  --_gap: 1.5rem;

  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: solid 0.1px var(--rose);

  justify-content: space-between;
  align-items: center;
  background: rgb(0, 0, 0);
  padding: 1.25rem 0;
}

.nav-bar-credentials {
  display: flex;
  gap: var(--_gap);
  align-items: center;
  margin-left: 1.875rem;
}

.nav-links {
  display: flex;
  margin-right: 1.875rem;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  position: relative;
  padding: calc(var(--_gap) / 4) calc(var(--_gap) / 2);
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: orangered;

  translate: var(--_translate, 0);
  scale: var(--_scale, 0) 1;
  transition: scale 150ms var(--_scale-delay, 0ms),
    translate 250ms var(--_translate-delay, 0ms);
}

.nav-links .link:hover ~ .link {
  --_translate: -100%;
  --_scale-delay: 400ms;
  --_translate-delay: 50ms;
}

.nav-links:hover .link {
  --_translate: 100%;
  --_scale-delay: 400ms;
  --_translate-delay: 50ms;
}

.nav-links .link:hover,
.nav-links .link:focus-within {
  --_scale: 1;
  --_translate: 0;
  --_scale-delay: 0ms;
}

.nav-full-name {
  display: inline;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image {
  height: 300px;
  width: 300px;
  border: solid;
  padding: calc(--_gap / 16);
  border: 20px solid #ff080800;
  outline: 1px solid #ffffff;
  outline-offset: -10px;
  background: conic-gradient(from 90deg at 1px 1px, #00000000 25%, #ffffff 0);
}

.hero-fullname {
  font-family: "Monoton", sans-serif;
  font-size: 6rem;
  font-weight: 100;
  text-transform: uppercase;
}

.hero-description {
  font-size: 2.5rem;
}

.hire-me-button {
  align-self: center;
  position: relative;
  margin-bottom: 1.3125rem;
  height: 4.0625rem;
  width: 13.125rem;
  font-size: 1.4375rem;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  border-radius: 1rem;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #0d0d0d;
  overflow: hidden;
  transition: 0.6s;

  color: rgb(216, 128, 116);
  border-color: var(--rose);
}
.hire-me-button:before,
.hire-me-button:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(1.875rem);
  opacity: 0.4;
  transition: 0.6s;
}
.hire-me-button:before {
  width: 3.75rem;
  background: rgba(255, 255, 255, 0.6);
  transform: translateX(-8.125rem) skewX(-45deg);
}
.hire-me-button:after {
  width: 1.875rem;
  background: rgba(255, 255, 255, 0.6);
  transform: translateX(-8.125rem) skewX(-45deg);
}
.hire-me-button:hover:before,
.hire-me-button:hover:after {
  opacity: 0.6;
  transform: translateX(20rem) skewX(-45deg);
}
.hire-me-button:hover {
  color: #f2f2f2;
  background: var(--rose);
}
