*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body,
html {
  height: 200%;
}

body {
  background: #121212;
  color: #eee;
}

.nav-bar {
  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: solid 0.1px rgba(206, 0, 224, 0.979);

  justify-content: space-between;
  align-items: center;
  background: rgb(0, 0, 0);
  padding: 20px 0;
}

.nav-bar-credentials {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 30px;
}

.nav-links {
  display: flex;
  gap: 50px;
  margin-right: 30px;
}

.link {
  text-decoration: none;
  color: #809fff;
}

.nav-full-name {
  display: inline;
}

.hero-container {
  margin: 100px 0 0 0;
}

.hero-container,
.hero {
  width: 100%;
}

.hero {
  display: flex;
  justify-content: space-around;
}

.hero-image {
  height: 200px;
  width: auto;
  border: solid;
  --s: 10px; /* control the size */
  padding: 1px;
  border: 20px solid #ff080800;
  outline: 1px solid #ffffff;
  outline-offset: -10px;
  background: conic-gradient(from 90deg at 1px 1px, #00000000 25%, #ffffff 0);
}
